# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

# Binary
bin/*

# Go build artifacts
*.exe
*.test
*.prof

# Dependency directories
vendor/
Gopkg.lock
Gopkg.toml

# IDE files (e.g., Visual Studio Code)
.vscode/

# Log files
*.log

# Output files
out

# Other common artifacts
.DS_Store
*.swp
